# This we of course need to hide :)
.env

# Maven
target/
*.jar
*.war
*.ear
*.log

# IDEs (VS Code, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# OS junk
.DS_Store
Thumbs.db